:root {
    --principal-color: #6b8e23;
    --secondary-color: #5a7a1d;
    --background-color: #fff;
}
html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}
h3, h4 {
    font-size: 15px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
main {
    color: #555;;
}
input[type="checkbox"] {
    display: none;
}
.fa-solid {
    font-size: 20px;
}

/*--- NAVBAR ---*/

.navBar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--background-color);
    z-index: 10;
    box-shadow: 0 0 3px;
}
.navBar__logo a {
    height: 30px;
    width: 50px;
}
.menu__open-menu, .menu__close-menu {
    cursor: pointer;
}
.menu__close-menu {
    display: none;
}
.menu__items {
    position: absolute;
    left: 0;
    top: 100%;
    list-style: none;
    background-color: var(--background-color);
    width: 100%;
    border-top: solid 1px #eee;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
}
.items__item {
    transition: background .5s, color .5s;
}
.items__item a {
    padding: 20px;
    width: 100%;
    height: 100%;
}
.items__item:has(a:hover) {
    background-color: #eee;
    color: var(--principal-color);
}
.navBar__menu:has(.menu__menu-checker:checked) .menu__items {
    max-height: 600px;
}
.navBar__menu:has(.menu__menu-checker:checked) .menu__open-menu {
    display: none;
}
.navBar__menu:has(.menu__menu-checker:checked) .menu__close-menu {
    display: block;
}

/*--- HOME ---*/

.home {
    height: calc(100vh - 54px);
    background-image: radial-gradient(#0008), url(images/imagen-fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--background-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
    margin-top: 54px;
}
.home p {
    margin-top: 20px;
}
.home__contact-btn {
    border: none;
    background-color: transparent;
    margin-top: 20px;
    border: solid 1px;
}
.home__contact-btn a {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    padding: 10px 30px;
    transition: background .5s;
}
.home__contact-btn a:hover {
    background-color: #eee;
}

/*--- SERVICES ---*/

.section {
    padding: 54px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.section-title {
    position: relative;
    padding-bottom: 5px;
}
.section-title::before {
    content: '';
    width: 100px;
    height: 1px;
    background-color: var(--principal-color);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.section-description {
    margin-top: 25px;
}
.services__images, .services__cards {
    margin-top: 20px;
}
.images__image {
    width: 100%;
    margin-top: 30px;
}
.services__cards, .menu__cards {
    width: 100%;
}
.cards__card {
    margin-top: 30px;
    border: solid 1px #ddd;
    padding: 25px;
    text-align: left;
    width: 100%;
}
.card__description {
    margin-top: 15px;
}

/*--- MENU ---*/

.menu-card {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.options__option {
    margin-top: 15px;
    margin-left: 10px;
}
.options__option::marker {
    color: var(--principal-color);
}
.cards__card button {
    width: 100%;
    background-color: var(--principal-color);
    border: none;
    transition: background .5s;
    margin-top: 20px;
}
.card__btn {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: var(--background-color);
}
.cards__card button:hover {
    background-color: var(--secondary-color);
}
.menu:has(.show-modal:checked) .menu__modal-section {
    opacity: 1;
    pointer-events: all;
}
.menu:has(#show-modal1:checked) .card1, .menu:has(#show-modal2:checked) .card2, .menu:has(#show-modal3:checked) .card3, .menu:has(#show-modal4:checked) .card4{
    opacity: 1;
    pointer-events: all;
}
.menu__modal-section {
    position: fixed;
    padding: 0 20px;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
}
.touchScreenToClose {
    background-color: #0009;
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    width: 100%;
    cursor: pointer;
    z-index: -10;
}
.modal-card {
    height: 500px;
    width: 100%;
    max-width: 400px;
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--background-color);
    box-shadow: 0 0 10px;
    border-radius: 10px;
    padding: 0;
    opacity: 0;
    pointer-events: none;
}
.modal-card::-webkit-scrollbar {
    width: 5px;
}
.modal-card::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
    cursor: pointer;
}
.modal-card::-webkit-scrollbar-button {
    background-color: transparent;
}
.modal-card__header {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    padding: 15px 20px;
}
.close-modal {
    position: absolute;
    right: 0;
    font-size: 15px;
    cursor: pointer;
    margin: 5px 10px;
}
.modal-card h3 {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}
.modal-card__section {
    margin: 40px 0;
    padding: 0 20px;
}
.modal-card__section .options__option {
    margin-top: 30px;
    font-size: 12px;
}
.modal-card h4 {
    text-align: center;
}
.modal-card__footer {
    color: #999;
    text-align: center;
    border-top: solid 1px #ddd;
    padding: 20px;
    margin: 0 20px;
    position: sticky;
    bottom: 0;
    background-color: var(--background-color);
    box-shadow: 0 0 20px 20px #fff;
}
.modal-card__footer p {
    font-size: 11px;
}

