:root {
    --principal-color: #6b8e23;
    --secondary-color: #5a7a1d;
    --background-color: #fff;
}
html {
    scroll-behavior: smooth;
}
body {
    animation: visibility 1 .5s;
    overflow-x: hidden;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    font-size: clamp(13px, 3vw, 16px);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-size: clamp(18px, 3vw, 20px);
}
h3, h4 {
    font-size: 15px;
    font-size: clamp(15px, 3vw, 18px);
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
main {
    color: #555;;
}
input[type="checkbox"] {
    display: none;
}
.fa-solid {
    font-size: 20px;
}
.wpp-logo {
    display: inline-block;
    position: sticky;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    bottom: 20px;
    color: var(--principal-color);
    margin-bottom: 20px;
    z-index: 10;
}
.wpp-logo i {
    translate: 60px;
    font-size: 40px;
    transform: rotate(180deg);
    animation: show-logo 1 both;
    animation-timeline: scroll();
    animation-range-start: 5%;
    animation-range-end: 15%;
}

/*--- NAVBAR ---*/

.navBar {
    padding: 10px 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--background-color);
    z-index: 10;
    box-shadow: 0 0 2px #999;
    animation: compact 1 both;
    animation-timeline: scroll();
    animation-range-start: 5%;
    animation-range-end: 10%;
}
.navBar__logo a {
    height: 30px;
    width: 50px;
}
.menu__open-menu, .menu__close-menu {
    cursor: pointer;
}
.menu__close-menu {
    display: none;
}
.menu__items {
    position: absolute;
    left: 0;
    top: 100%;
    list-style: none;
    background-color: var(--background-color);
    width: 100%;
    border-top: solid 1px #eee;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
}
.items__item {
    transition: background .5s, color .5s;
}
.items__item a {
    padding: 20px;
    width: 100%;
    height: 100%;
}
.items__item:has(a:hover) {
    background-color: #eee;
    color: var(--principal-color);
}
.navBar__menu:has(.menu__menu-checker:checked) .menu__items {
    max-height: 600px;
}
.navBar__menu:has(.menu__menu-checker:checked) .menu__open-menu {
    display: none;
}
.navBar__menu:has(.menu__menu-checker:checked) .menu__close-menu {
    display: block;
}

/*--- HOME ---*/

.home {
    min-height: 100vh;
    background-image: radial-gradient(#0008), url(images/imagen-fondo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--background-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 80px 20px 0 20px;
    text-align: center;
}
.home p {
    margin-top: 20px;
}
.home__contact-btn {
    border: none;
    background-color: transparent;
    margin-top: 20px;
    border: none;
}
.home__contact-btn a {
    width: 100%;
    height: 100%;
    background-color: var(--principal-color);
    padding: 10px 30px;
    color: var(--background-color);
    transition: background .5s;
}
.home__contact-btn a:hover {
    background-color: var(--secondary-color);
}

/*--- SERVICES ---*/

.section {
    padding: 90px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.section-title {
    position: relative;
    padding-bottom: 5px;
}
.section-title::before {
    content: '';
    width: 70%;
    height: 1px;
    background-color: var(--principal-color);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.section-description {
    margin-top: 25px;
}
.services__images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.services__images, .services__cards {
    margin-top: 20px;
}
.images__image {
    width: 100%;
    max-width: 600px;
    height: 300px;
    margin: 25px;
}
.services__cards, .menu__cards {
    width: 100%;
}
.services__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cards__card {
    margin-top: 30px;
    border: solid 1px #ddd;
    padding: 40px 25px;
    text-align: left;
    width: 100%;
    max-width: 400px;
    margin: 20px;
}
.card__description {
    margin-top: 15px;
}

/*--- MENU ---*/

.menu__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}
.menu-card {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}
.options__option {
    margin-top: 15px;
    margin-left: 10px;
}
.options__option::marker {
    color: var(--principal-color);
}
.cards__card button {
    width: 100%;
    background-color: var(--principal-color);
    border: none;
    transition: background .5s;
    margin-top: 20px;
}
.card__btn {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: var(--background-color);
}
.cards__card button:hover {
    background-color: var(--secondary-color);
}
.menu:has(.show-modal:checked) .menu__modal-section {
    opacity: 1;
    pointer-events: all;
}
.menu:has(#show-modal1:checked) .card1, .menu:has(#show-modal2:checked) .card2, .menu:has(#show-modal3:checked) .card3, .menu:has(#show-modal4:checked) .card4{
    opacity: 1;
    pointer-events: all;
}
.menu__modal-section {
    position: fixed;
    padding: 0 20px;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
    z-index: 10;
}
.touchScreenToClose {
    background-color: #0009;
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    width: 100%;
    cursor: pointer;
    z-index: -10;
}
.modal-card {
    height: 500px;
    width: 100%;
    max-width: 400px;
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--background-color);
    box-shadow: 0 0 10px;
    border-radius: 10px;
    padding: 0;
    opacity: 0;
    pointer-events: none;
}
.modal-card::-webkit-scrollbar {
    width: 5px;
}
.modal-card::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
    cursor: pointer;
}
.modal-card::-webkit-scrollbar-button {
    background-color: transparent;
}
.modal-card__header {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    padding: 15px 20px;
}
.close-modal {
    position: absolute;
    right: 0;
    font-size: 15px;
    cursor: pointer;
    margin: 5px 10px;
}
.modal-card h3 {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}
.modal-card__section {
    margin: 40px 0;
    padding: 0 20px;
}
.modal-card__section .options__option {
    margin-top: 30px;
    font-size: 12px;
}
.modal-card h4 {
    text-align: center;
}
.modal-card__footer {
    color: #999;
    text-align: center;
    border-top: solid 1px #ddd;
    padding: 20px;
    margin: 0 20px;
    position: sticky;
    bottom: 0;
    background-color: var(--background-color);
    box-shadow: 0 0 20px 20px #fff;
}
.modal-card__footer p {
    font-size: 11px;
}
/*--- ABOUT ---*/

.about {
    background-color: #eee4;
    padding: 90px 10% 20px 10%;
}
.about .section-description {
    text-align: left;
}
.about__experience {
    border-top: solid 1px #ddd;
    margin-top: 25px;
    padding-top: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.experience__box {
    width: 100%;
    max-width: 200px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.experience__box p:first-child {
    color: var(--principal-color);
    font-weight: 600;
    margin-bottom: 10px;
}

/*--- CONTACT ---*/

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 45px 0;
}
form h3 {
    text-align: left;
}
form div {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
form label {
    align-self: start;
}
form input, form select, form textarea {
    outline: solid 1px #ccc;
    border: none;
    padding: 10px;
    margin-top: 5px;
    transition: outline .5s;
}
textarea {
    resize: none;
    height: 100px;
}
form button {
    margin-top: 20px;
    background-color: var(--principal-color);
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    transition: background .5s;
}
form button:hover {
    background-color: var(--secondary-color);
}
input:focus, select:focus, textarea:focus {
    outline: solid 1px var(--principal-color);
}
select {
    cursor: pointer;
}
input:-webkit-autofill {
    background-color: var(--background-color) !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset !important;
}

/*--- FOOTER ---*/

footer {
    background-color: rgb(15, 15, 44);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #fff;
}
footer img {
    filter: brightness(0) invert(1);
    width: 60px;
}
footer h3 {
    padding: 0;
    margin: 0;
}
.contact-info {
    margin: 20px 0;
    border-top: solid .1px;
    border-bottom: solid .1px;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer > p:nth-of-type(1) {
    color: #888;
    font-size: 11px;
    margin-top: 10px;
}
.info-item {
    margin-top: 25px;
}
.info-item a {
    margin-top: 5px;
    transition: opacity .5s;
}
.info-item a:hover {
    opacity: .7;
}

/*--- MEDIA QUERIES ---*/

@media screen and (min-width: 1024px) {
    .navBar {
        overflow: hidden;
    }
    .menu__open-menu {
        display: none;
    }
    .menu__items {
    position: static;
    list-style: none;
    background-color: transparent;
    width: auto;
    border-top: none;
    max-height: none;
    overflow: auto;
    transition: none;
    display: flex;
    }
}
@media screen and (min-width: 1340px) {
    .images__image {
        height: 500px;
    }
}

/*--- ANIMATION ---*/

@keyframes visibility {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes compact {
    to {
        height: 40px;
    }
}
@keyframes show-logo {
    to {
        transform: rotate(360deg);
        translate: 0;
    }
}
